[MESSAGES CONTROL]
disable=
    deprecated-lambda,  # TODO
    duplicate-code,  # Integration tests tend to test similar things
    fixme,  # Allow FIXMEs in code is a useful practice
    global-statement,  # TODO
    missing-docstring,  # TODO
    old-style-class,
    too-many-locals,
max-line-length=160
