[MESSAGES CONTROL]
disable=
    deprecated-lambda,  # TODO
    fixme,  # Allow FIXMEs in code is a useful practice
    missing-docstring,  # TODO
    old-style-class,
    too-many-locals,
max-line-length=160

[SIMILARITIES]
ignore-imports=yes
